.button-sent {
  border: none;
  padding: 10px 55px;
  border-radius: 4px;

  font-family: inherit;

  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.8;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--color-blue);
  color: #ffffff;
}
.backdrop {
  position: relative;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1, 1);
}

.modal {
  align-items: center;

  position: absolute;
  top: 50%;
  left: 50%;

  min-width: 528px;
  min-height: 581px;
  padding: 40px;

  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1, 1);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-h {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;

  color: #212121;
}
.form-field {
  margin-bottom: 10px;
  position: relative;
  &:focus-within > .icon {
    fill: var(--color-blue);
  }
}
.icon-checkbox {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 8.38px;

  border: 2px solid #2a2a2a;
  border-radius: 4px;
}
.field {
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  &:checked + .icon-checkbox {
    border-color: transparent;
    background-color: #2196f3;
    background-image: url('.../imeges/symbol-defs.svg#icon-iconcheck');
    background-size: contain;
    background-origin: border-box;
  }
}

.icon {
  position: absolute;
  bottom: 12px;
  left: 12px;
  display: inline-block;
  fill: #212121;
}

.modal-info {
  color: #757575;

  line-height: 24px;
  letter-spacing: 0.03em;
  font-size: 14px;
}
.modal-text {
  font-size: 12px;
  letter-spacing: 0.01em;
}
.comment {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-info-blue {
  color: #2196f3;
}
textarea {
  margin-top: 4px;
  padding: 12px 16px;
  font: inherit;
  resize: none;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;

  &:focus {
    border: 1px solid #2196f3;
  }
}
.form-input {
  height: 40px;
  width: 100%;
  margin-top: 4px;
  padding: 11px 12px;
  padding-left: 40px;
  font: inherit;
  border: 1px solid rgba(33, 33, 33, 0.2);

  border-radius: 4px;
  outline: none;
  &:focus {
    border: 1px solid #2196f3;
    box-sizing: border-box;
    border-radius: 4px;
  }
}

.modal-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.closeicon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover > .closeicon {
    fill: var(--color-blue);
  }
}
.closebutton {
  position: relative;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  font-family: inherit;

  font-weight: bold;
  font-size: 16px;
  line-height: 1.8;

  letter-spacing: 0.06em;
  background-color: #f5f4fa;
  position: absolute;
  top: 8px;
  right: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.sent {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
